---
title: Anställningverifiering av i9-verifiering
description: Immigration Reform and Control Act kräver att amerikanska arbetsgivare verifierar nyanställdas anställningskvalifikationer.
author: ShielaSogge
manager: AnnBe
ms.date: 08/29/2018
ms.topic: business-process
ms.prod: ''
ms.service: dynamics-ax-applications
ms.technology: ''
ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document
audience: Application User
ms.reviewer: kfend
ms.search.scope: Core, Operations
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: Version 7.0.0
ms.openlocfilehash: c1886413ba7eabc60f902c0183b443d63a579d7b
ms.sourcegitcommit: 34e543e807ac8790597f522fe3b4f0266cf4ee56
ms.translationtype: HT
ms.contentlocale: sv-SE
ms.lasthandoff: 03/24/2020
ms.locfileid: "3161694"
---
# <a name="employment-verification-i9-verification"></a>Anställningverifiering av i9-verifiering

[!include [banner](../../../includes/banner.md)]

Immigration Reform and Control Act kräver att amerikanska arbetsgivare verifierar nyanställdas anställningskvalifikationer. I den här proceduren går du igenom stegen för att registrera nödvändiga dokument för verifiering av I-9. Använd företaget USMF för den här proceduren.

1. Gå till Personal > Arbetare > Medarbetare.
2. Använd snabbfiltret för att söka efter poster. Filtrera till exempel i fältet Namn med värdet "Vince".
3. Välj medarbetare. Exempel: Vince Prado
4. Expandera snabbfliken Personlig information.
5. Klicka på Identifieringsnummer.
6. Klicka på Ny.
7. Välj den identifieringstyp som du registrerar. Exempel: Pass
8. Ange ett värde i fältet Antal.
9. Välj Ja i fältet Primär.
10. Ange en kort beskrivning av identifieringsposten i fältet Beskrivning.
11. I det utfärdande organet väljer du det organ som har utfärdat identifieringsformuläret för arbetaren. Exempel: Myndighet
12. Ange det datum då det utfärdande organet har utfärdat identifieringsformuläret för arbetaren. Exempel: 15/02/2011
13. Ange det datum då identifieringsformuläret upphör att gälla. Exempel: 15/02/2021
14. Klicka på Spara.
15. Stäng sidan.
16. Klicka på fliken Anställning.
17. Klicka på I-9.
18. Klicka på Ny.
19. Välj ett alternativ i fältet Kvalifikation.
    * Om medarbetaren inte är amerikansk medborgare måste du ange arbetarens inresenummer eller nummer för utländska medborgare med uppehållstillstånd.  
20. Välj alternativet GroupListA.
    * Vilken lista du väljer är beroende av vilken form av identifiering som arbetaren har angett. En arbetare måste ange ett dokument från lista A eller ett dokument från lista B och C. Om arbetaren till exempel anger ett pass, ska lista A väljas. Men om arbetaren bara har tillhandahållit sitt körkort och ett amerikanskt socialförsäkringskort så måste lista B och C väljas.  
21. Välj den typ av dokument som arbetaren har angett i fältet I-9-dokumenttyp.
22. Ange eller välj ett värde i fältet Dokumentnummer.
23. Klicka på Spara.

