---
title: Anställningverifiering av i9-verifiering
description: Immigration Reform and Control Act kräver att amerikanska arbetsgivare verifierar nyanställdas anställningskvalifikationer.
author: ShielaSogge
manager: AnnBe
ms.date: 08/29/2018
ms.topic: business-process
ms.prod: ''
ms.service: dynamics-ax-applications
ms.technology: ''
ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document
audience: Application User
ms.reviewer: kfend
ms.search.scope: Core, Operations
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: Version 7.0.0
ms.openlocfilehash: 544c298f83c4b1838a94aee95ed6038fcc1f4e4f
ms.sourcegitcommit: 16bfa0fd08feec1647829630401ce62ce2ffa1a4
ms.translationtype: HT
ms.contentlocale: sv-SE
ms.lasthandoff: 08/02/2019
ms.locfileid: "1850789"
---
# <a name="employment-verification-i9-verification"></a><span data-ttu-id="0c88d-103">Anställningverifiering av i9-verifiering</span><span class="sxs-lookup"><span data-stu-id="0c88d-103">Employment verification i9 verification</span></span>

[!include [task guide banner](../../../includes/task-guide-banner.md)]

<span data-ttu-id="0c88d-104">Immigration Reform and Control Act kräver att amerikanska arbetsgivare verifierar nyanställdas anställningskvalifikationer.</span><span class="sxs-lookup"><span data-stu-id="0c88d-104">The Immigration Reform and Control Act requires US employers to verify the employment eligibility status of newly hired employees.</span></span> <span data-ttu-id="0c88d-105">I den här proceduren går du igenom stegen för att registrera nödvändiga dokument för verifiering av I-9.</span><span class="sxs-lookup"><span data-stu-id="0c88d-105">This procedure will walk you through the steps of recording the necessary documents for I-9 verification.</span></span> <span data-ttu-id="0c88d-106">Använd företaget USMF för den här proceduren.</span><span class="sxs-lookup"><span data-stu-id="0c88d-106">Use the USMF company for this procedure.</span></span>

1. <span data-ttu-id="0c88d-107">Gå till Personal > Arbetare > Medarbetare.</span><span class="sxs-lookup"><span data-stu-id="0c88d-107">Go to Human resources > Workers > Employees.</span></span>
2. <span data-ttu-id="0c88d-108">Använd snabbfiltret för att söka efter poster.</span><span class="sxs-lookup"><span data-stu-id="0c88d-108">Use the Quick Filter to find records.</span></span> <span data-ttu-id="0c88d-109">Filtrera till exempel i fältet Namn med värdet "Vince".</span><span class="sxs-lookup"><span data-stu-id="0c88d-109">For example, filter on the Name field with a value of 'Vince'.</span></span>
3. <span data-ttu-id="0c88d-110">Välj medarbetare.</span><span class="sxs-lookup"><span data-stu-id="0c88d-110">Select the employee.</span></span> <span data-ttu-id="0c88d-111">Exempel: Vince Prado</span><span class="sxs-lookup"><span data-stu-id="0c88d-111">Example: Vince Prado</span></span>
4. <span data-ttu-id="0c88d-112">Expandera snabbfliken Personlig information.</span><span class="sxs-lookup"><span data-stu-id="0c88d-112">Expand the Personal information FastTab.</span></span>
5. <span data-ttu-id="0c88d-113">Klicka på Identifieringsnummer.</span><span class="sxs-lookup"><span data-stu-id="0c88d-113">Click Identification numbers.</span></span>
6. <span data-ttu-id="0c88d-114">Klicka på Ny.</span><span class="sxs-lookup"><span data-stu-id="0c88d-114">Click New.</span></span>
7. <span data-ttu-id="0c88d-115">Välj den identifieringstyp som du registrerar.</span><span class="sxs-lookup"><span data-stu-id="0c88d-115">Select the identification type that you are recording.</span></span> <span data-ttu-id="0c88d-116">Exempel: Pass</span><span class="sxs-lookup"><span data-stu-id="0c88d-116">Example: Passport</span></span>
8. <span data-ttu-id="0c88d-117">Ange ett värde i fältet Antal.</span><span class="sxs-lookup"><span data-stu-id="0c88d-117">In the Number field, type a value.</span></span>
9. <span data-ttu-id="0c88d-118">Välj Ja i fältet Primär.</span><span class="sxs-lookup"><span data-stu-id="0c88d-118">Select Yes in the Primary field.</span></span>
10. <span data-ttu-id="0c88d-119">Ange en kort beskrivning av identifieringsposten i fältet Beskrivning.</span><span class="sxs-lookup"><span data-stu-id="0c88d-119">In the Description field, enter a brief description of the identification record..</span></span>
11. <span data-ttu-id="0c88d-120">I det utfärdande organet väljer du det organ som har utfärdat identifieringsformuläret för arbetaren.</span><span class="sxs-lookup"><span data-stu-id="0c88d-120">In the issuing agency select the agency that issued the form of identification to the worker.</span></span> <span data-ttu-id="0c88d-121">Exempel: Myndighet</span><span class="sxs-lookup"><span data-stu-id="0c88d-121">Example: Government</span></span>
12. <span data-ttu-id="0c88d-122">Ange det datum då det utfärdande organet har utfärdat identifieringsformuläret för arbetaren.</span><span class="sxs-lookup"><span data-stu-id="0c88d-122">Enter the date that the issuing agency issued the form of identification to the worker.</span></span> <span data-ttu-id="0c88d-123">Exempel: 15/02/2011</span><span class="sxs-lookup"><span data-stu-id="0c88d-123">Example: 02/15/2011</span></span>
13. <span data-ttu-id="0c88d-124">Ange det datum då identifieringsformuläret upphör att gälla.</span><span class="sxs-lookup"><span data-stu-id="0c88d-124">Enter the date when the form of identification expires.</span></span> <span data-ttu-id="0c88d-125">Exempel: 15/02/2021</span><span class="sxs-lookup"><span data-stu-id="0c88d-125">Example: 2/15/2021</span></span>
14. <span data-ttu-id="0c88d-126">Klicka på Spara.</span><span class="sxs-lookup"><span data-stu-id="0c88d-126">Click Save.</span></span>
15. <span data-ttu-id="0c88d-127">Stäng sidan.</span><span class="sxs-lookup"><span data-stu-id="0c88d-127">Close the page.</span></span>
16. <span data-ttu-id="0c88d-128">Klicka på fliken Anställning.</span><span class="sxs-lookup"><span data-stu-id="0c88d-128">Click the Employment tab.</span></span>
17. <span data-ttu-id="0c88d-129">Klicka på I-9.</span><span class="sxs-lookup"><span data-stu-id="0c88d-129">Click I-9.</span></span>
18. <span data-ttu-id="0c88d-130">Klicka på Ny.</span><span class="sxs-lookup"><span data-stu-id="0c88d-130">Click New.</span></span>
19. <span data-ttu-id="0c88d-131">Välj ett alternativ i fältet Kvalifikation.</span><span class="sxs-lookup"><span data-stu-id="0c88d-131">In the Work eligibility field, select an option.</span></span>
    * <span data-ttu-id="0c88d-132">Om medarbetaren inte är amerikansk medborgare måste du ange arbetarens inresenummer eller nummer för utländska medborgare med uppehållstillstånd.</span><span class="sxs-lookup"><span data-stu-id="0c88d-132">If the employee is not a citizen or national of the United States, you must enter the worker's resident alien or admission number.</span></span>  
20. <span data-ttu-id="0c88d-133">Välj alternativet GroupListA.</span><span class="sxs-lookup"><span data-stu-id="0c88d-133">Select the GroupListA option.</span></span>
    * <span data-ttu-id="0c88d-134">Vilken lista du väljer är beroende av vilken form av identifiering som arbetaren har angett.</span><span class="sxs-lookup"><span data-stu-id="0c88d-134">The list that you select depends on what form of identification the worker provided.</span></span> <span data-ttu-id="0c88d-135">En arbetare måste ange ett dokument från lista A eller ett dokument från lista B och C. Om arbetaren till exempel anger ett pass, ska lista A väljas.</span><span class="sxs-lookup"><span data-stu-id="0c88d-135">A worker must provide one List A document or one document from List B and C. For example, if the worker provided a passport, then List A could be selected.</span></span> <span data-ttu-id="0c88d-136">Men om arbetaren bara har tillhandahållit sitt körkort och ett amerikanskt socialförsäkringskort så måste lista B och C väljas.</span><span class="sxs-lookup"><span data-stu-id="0c88d-136">However, if the worker has only provided their drivers license and social security card, then list B and C must be selected.</span></span>  
21. <span data-ttu-id="0c88d-137">Välj den typ av dokument som arbetaren har angett i fältet I-9-dokumenttyp.</span><span class="sxs-lookup"><span data-stu-id="0c88d-137">In the I-9 document type field, select the type of document that the worker provided.</span></span>
22. <span data-ttu-id="0c88d-138">Ange eller välj ett värde i fältet Dokumentnummer.</span><span class="sxs-lookup"><span data-stu-id="0c88d-138">In the Document number field, enter or select a value.</span></span>
23. <span data-ttu-id="0c88d-139">Klicka på Spara.</span><span class="sxs-lookup"><span data-stu-id="0c88d-139">Click Save.</span></span>

